*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: linear-gradient(180deg, #11699A 0%, #26064F 100%);
  font-family: Arial, Helvetica, sans-serif;
}

.banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10%;
  width: 100%;
  padding: 20px; /*30*/
}

.banner-button{
  color: #26064F;
  text-align: center;
  margin-right: 1rem;
  justify-content: space-evenly;
  margin: 30px;
  padding: 10px 20px;

}




/*.banner-buttons-div {
  width: 150px;
  background-color: rgba(51, 33, 158, 0.69);
  border-radius: 10px;
  color: #FFF;
  text-decoration: none;
  font-family: Molengo;
  font-size: 25px;
  font-weight: bold;
  line-height: normal;
  padding: 1vw;
  text-align: center;
  align-items: center;
  
}*/
.banner-buttons-div
.banner-icon{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 10vw;
  align-items: center;
  height: 1.8rem;
  width:150px;
}

.nav{
  flex-flow: row nowrap;
  display:flex ;
  align-items: center;
  justify-content: space-evenly;
}

.banner-buttons-div a{
  text-align: center;
  transition: background-color 0.4s ease;
  font-weight: bold;

}
.banner-button:hover{
  background-color: #11699A;
}
.banner-logo {
  width: 20vw;
  height: 10vh;       
  padding-right: 6vw;      
}

.banner-icon {
  width:100%;
  height: 5rem;
}

.featured-movie-div {
  width: 100%;
  height: 60vh;
  opacity: 0.7;
  background: url(../assets/images/Square_Eyes_Cover5.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: screen;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.featured-movie-description-div {
  width: 100vw;
  height: auto;
  font-size: 24px;
  font-style: oblique;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}

.featured-movie-p {
 width: auto;
 object-fit: cover;
 color: yellow;
 font-size: 36px;
 font-family: Crimson Text;
 font-weight: 700;
 letter-spacing: 1.08px;
 word-wrap: break-word;
 position: relative;

}

.featured-movie-button {
  width: 30%;
  height: auto;
  object-fit: cover;
  opacity: 0.9;
  background-color: #ea644a;
  border:none;
  border-radius: 35px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 28px;
  font-weight: 1vw;
  padding: 1rem ;
  opacity: 1.2;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.featured-movie-button:hover {
  background-color: #E38210;

}

.movie-section {
 width : 100%;    
 height: 40% ;
 display:flex ;
 justify-content: space-between ;
 align-items: center;
}

.movie-section h1{
  padding: 2rem;
  color: #FFF;
}

 .carousel-container{
  width: 100%;
  overflow-x: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: carouselanimation 20s infinite linear; 
}


  
@keyframes carouselAmination {
  0% {transform: translateX(0); }
  100% {transform: translateX(-100%); }
}


.carousel {
  width: 100%;
  height: 37vh;
  display: flex;
  gap: 9px;
  overflow:scroll;
  white-space: nowrop; /*prevent slides from wrapping to the next line*/
}

.carousel-slide {
  height: 80%h;
  object-fit: cover;
  display: flex;
  flex-direction: row; 
  width: 100%; /* 10% each slide has a width of 10% of the carousel width */
  
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-poster {
 width: 100%;
 height: 90%;
 border-radius: 15px;
 padding: 5px;
 margin-bottom: 20px;

 /** width: calc(33.33% - 20px); */ /* Adjust as needed */
 
 background-color: #f2f2f2;
 border: 1px solid #ccc;
 box-sizing: border-box;
 padding: 10px;

 display: inline-block;
}

.cart-page, 
.cart-section{
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: #FFF;

}
.movie-list,
.details{
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.movie-details {
    padding: 10px 0;
}

.movie-title {
    margin-top: 0;
}

.movie-description,
.movie-genre,
.movie-rating,
.movie-released,
.movie-price {
    margin-bottom: 5px;
} 

.genre-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; 
}
.movies-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: space-between;
  flex-grow: 1;
}
.movie-box{
  width: calc(33.33% 20px);
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
}

.footer {
  width: 100%;
  color: #FFF;
  text-align: center;
  padding: 20px 0;

}
/* footer section  */
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container{
  width: 100vw;
  height: 30vh;
  padding: 70px 30px 20px;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color:#11699A
  opacity: 0.9;
}

.footer-text{
  width: 100vw;
  padding: 2rem;
  text-align: center;
}
/*hover effect*/
.socialIcons a:hover{
  background-color: #4604aa;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

/* contact us page */

.contact-section{
  display: flexbox;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 90%;
  margin:auto;

}

.contact-article h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  display: flexbox;
  color: white;
  padding: 2vw;
}

/*about us page*/

.featured-site-h{
  font-family: Crimson Text;
  font-size: 26px;
  font-style: italic;
  font-weight: 700%;
  line-height: normal;
  letter-spacing: 1.08px;
  color: white;
  text-align: left;
  justify-content: center;
  display: flex;
  padding: 2vw;
}

.featured-site-p {
  font-family: source serif Pro;
  font-size: 25px;
  color: black;
  font-size: 30px;
  line-height:normal;
  align-items: center;
  text-align: center;
  line-height:2;
  margin: 4vw;
}


.body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  background-color: #04aa6d ;
  color:white;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 20px;

}

.input[type=text], select,
 textarea{
  width: 70%;
  padding: 10px;
  font-size: 40px;
  border: 1px solid;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  resize: vertical;
  background-color: white;
}

input:focus-within{
  outline: none;
  border-color: #4604aa;
  border-width: 3px;
}

button{
  background-color: rgba(51, 33, 158, 0.69);
  border-radius: 18px;
  border-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 18px;
  text-align: center;
  display: flex;
  margin: auto;

}
button:hover {
  opacity: 80%;
  cursor: pointer;
}


.input[type=submit]{
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.input[type=submit]:hover{
  background-color: #0F2029;
}
.contact-form {
  border-radius: 5px;
  background-color: #0F2029 ;
  padding: 50px;
  box-shadow: #0F2029;
  width: 80%;
  margin-top: 10px;
  overflow: hidden;

}

form{
  display: grid;
  gap: 20px;
}

label {
  color: white;
  text-transform: uppercase;
  text-align: left;
}

/*product preview page */

.selected-movie {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.selected-movie-details {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  padding-bottom: 5rem;
}

.selected-movie-img {
  width: 100%;
  height: 30%;
}

.selected-movie h1,
.selected-movie h2{
  font-size: 20px;
  display: flex;
  align-items: normal;
  line-height: 2rem;
}
.banner-button{
  display: flex;
  color: #26064F;
  align-items: center;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: auto;
  cursor: pointer;
  transition: background-color 0.5s ease
}

.banner-button:hover{
  background-color: rgb(118, 118, 205);

}

.container-movie-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 20px;
  line-height: 1.5;
  font-size: 20px;
  text-align: center;
  padding-right: 5rem;
  height: auto;

}

.selected-movie-p{
  color: #11699A;
}
/*.selected-movie-p {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  align-items: center;
  display: flex;
  text-align: justify;

}*/

/*.checkout-success-div {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  padding-bottom: 5rem;
  
}*/
.checkout-success-div i{
  padding: 5rem;
  font-size: 48px;
  color: #04aa6d;
}

/* checkout page*/

.container{

  border-radius: 5px;
  background-color: #0F2029 ;
  padding: 50px;
  box-shadow: #0F2029;
  width: 40%;
  margin: 2rem;
  margin-top: 10px;
  overflow: hidden;
  align-items: center;
  display: flexbox;
}
  
.title{
  color: #11699A;
  padding: 1rem;
}
.inputbox{
  padding: 1vw;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 3vw;
  border: 1px solid;
  border-radius: 1vw;
  margin: 1rem;

}

.inputbox input[type="text"]{
  margin-bottom: 2rem ;
}
img{
  width:30px;
  height: 30px;
  margin: 1vw;
  
}

.banner-nav{
  display: flex;
  align-items: center;
  gap: 20px;
}

.banner-button-c{
  width:fit-content;
  background-color: rgba(51, 33, 158, 0.69);
  border-radius: 5px;
  margin: auto;
  color: #FFF;
  text-decoration: none;
  font-family: Molengo;
  font-size: 25px;
  font-weight: bold;
  line-height: normal;
  padding: 1vw ;
  text-align: center;
  align-items: center;

}

.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

/* CSS - NEW PART */


.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.movie-box {
  width: calc(33.33% - 20px); /* Adjust as needed */
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
}
.movie-box{
  justify;
}

.movie-image {
  width: 100%;
  height: auto;
  display: block;
}

.movie-details {
  padding: 20px 0;
}

.movie-title {
  margin-top: 0;
}

.movie-description,
.movie-genre,
.movie-rating,
.movie-released,
.movie-price {
  margin-bottom: 5px;
  margin: 20px;
}

.genre-container{
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  
}

.cards-accepted{
  font-size: 30px;
  color: #FFF;
}

/* desktop */

@media screen and (min-width: 1280px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  body {
    background: linear-gradient(180deg, #11699A 0%, #26064F 100%);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 30px;
  }
  
  .banner-button {
    width: 150px;
    background-color: rgba(51, 33, 158, 0.69);
    border-radius: 5px;
    color: #FFF;
    text-decoration: none;
    font-family: Molengo;
    font-size: 25px;
    font-weight: bold;
    line-height: normal;
    padding: 1vw;
    text-align: center;
    align-items: center;
    
  }
  
  .nav{
    flex-flow: row nowrap;
    display:flex ;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .banner-buttons-div a{
    text-align: center;
    transition: background-color 0.4s ease;
    font-weight: bold;
  
  }
  .banner-button:hover{
    background-color: rgb(118, 118, 205);
  }
  .banner-logo {
    width: 20vw;
    height: 10vh;       
    padding-right: 6vw;      
  }
  
  .banner-icon {
    width: 55px;
    height: 50px;
  }
  
  .banner-buttons-div {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .featured-movie-div {
    width: 100%;
    height: 60vh;
    opacity: 0.7;
    background: url(../assets/images/Square_Eyes_Cover5.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: screen;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .featured-movie-description-div {
    width: 100vw;
    height: auto;
    font-size: 24px;
    font-style: oblique;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
  }
  
  .featured-movie-p {
   width: auto;
   object-fit: cover;
   color: yellow;
   font-size: 36px;
   font-family: Crimson Text;
   font-weight: 700;
   letter-spacing: 1.08px;
   word-wrap: break-word;
   position: relative;
  
  }
  
  .featured-movie-button {
    width: 30%;
    height: auto;
    object-fit: cover;
    opacity: 0.9;
    background-color: #ea644a;
    border:none;
    border-radius: 35px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 28px;
    font-weight: 1vw;
    padding: 1rem ;
    opacity: 1.2;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  .featured-movie-button:hover {
    background-color: #E38210;
  
  }
  
  .movie-section {
   width : 100%;    
   height: 40% ;
   display:flex ;
   justify-content: space-between ;
   align-items: center;
  }
  
  .movie-section h1{
    padding: 2rem;
    color: #FFF;
  }
  
  .carousel-container {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: carouselanimation 20s infinite linear; 
  }
  
  @keyframes carouselAmination {
    0% {transform: translateX(0); }
    100% {transform: translateX(-100%); }
  }
  
  
  .carousel {
    width: 100%;
    height: 37vh;
    display: flex;
    gap: 9px;
    overflow:scroll;
    white-space: nowrop; /*prevent slides from wrapping to the nextline*/
  }
  
  .carousel-slide {
    height: 37vh;
    object-fit: cover;
    display: flex;
    flex-direction: row; 
    width: 11%; /* 10%each slide has a widht of 10% of the carousel widht */
    
  }
  
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .img-poster {
    border-radius: 15px;
    padding: 5px;
  }
  
  .footer {
    background-color: none;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer img {
    width: auto;
    height: 7vh;
    object-fit: contain;
    margin-bottom: 20px;
  }
  
  .footer-text {
   
    color: white;
    font-size: 24px;
    font-family: Crimson Text,sans-serif;
    font-weight: 400;
    text-transform:capitalize;
    word-wrap: break-word;
  }
  
  .socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
  /* contact us page */
  
  .contact-section{
    display: flexbox;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 90%;
    margin:auto;
  
  }
  
  
  
  .contact-article h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flexbox;
    color: white;
    padding: 2vw;
  }
  
  /*about us page*/
  
  .featured-site-h{
    font-family: Crimson Text;
    font-size: 26px;
    font-style: italic;
    font-weight: 700%;
    line-height: normal;
    letter-spacing: 1.08px;
    color: white;
    text-align: left;
    justify-content: center;
    display: flex;
    padding: 2vw;
  }
  
  .featured-site-p {
    font-family: source serif Pro;
    font-size: 25px;
    color: black;
    font-size: 30px;
    line-height:normal;
    align-items: center;
    text-align: center;
    line-height:2;
    margin: 4vw;
  }
  
  
  .body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #04aa6d ;
    color:white;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 20px;
  
  }
  
  .input[type=text], select,
   textarea{
    width: 70%;
    padding: 10px;
    font-size: 40px;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    resize: vertical;
    background-color: white;
  }
  
  input:focus-within{
    outline: none;
    border-color: #4604aa;
    border-width: 3px;
  }
  
  button{
    background-color: rgba(51, 33, 158, 0.69);
    border-radius: 18px;
    border-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
  
  }
  button:hover {
    opacity: 80%;
    cursor: pointer;
  }
  
  
  .input[type=submit]{
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  .input[type=submit]:hover{
    background-color: #0F2029;
  }
  .contact-form {
    border-radius: 5px;
    background-color: #0F2029 ;
    padding: 50px;
    box-shadow: #0F2029;
    width: 80%;
    margin-top: 10px;
    overflow: hidden;
  
  }
  
  form{
    display: grid;
    gap: 20px;
  }
  
  label {
    color: white;
    text-transform: uppercase;
    text-align: left;
  }
  
  /*product preview page */
  
  .selected-movie {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  
  .selected-movie-details {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding-bottom: 5rem;
  }
  
  .selected-movie-img {
    width: 100%;
  }
  
  .selected-movie h1,
  .selected-movie h2{
    font-size: 20px;
    display: flex;
    align-items: normal;
    line-height: 2rem;
  }
  .banner-button{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: auto;
    cursor: pointer;
    transition: background-color 0.5s ease
  }
  
  .banner-button:hover{
    background-color: rgb(118, 118, 205);
  
  }
  
  .selected-movie-p {
    padding: 20px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    align-items: center;
    display: flex;
    text-align: justify;
  
  }
  
  .checkout-success-div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding-bottom: 50px;
    background-color: #0F2029;
  }
  
  /* checkout page*/
  
  .container{
  
    border-radius: 5px;
    background-color: #0F2029 ;
    padding: 50px;
    box-shadow: #0F2029;
    width: 80%;
    margin: 2rem;
    margin-top: 10px;
    overflow: hidden;
    align-items: center;
    display: flexbox;
    
  }
  .title{
    color: #11699A;
    padding: 1rem;
  }
  .inputbox{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 3vw;
    border: 1px solid;
    border-radius: 1vw;
    margin: 1rem;
  
  }
  
  .inputbox input[type="text"]{
    margin-bottom: 2rem ;
  }
  img{
    width:30px;
    height: 30px;
    margin: 1vw;
    
  }
  
  .banner-nav{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .banner-button-c{
    width:fit-content;
    background-color: rgba(51, 33, 158, 0.69);
    border-radius: 5px;
    margin: auto;
    color: #FFF;
    text-decoration: none;
    font-family: Molengo;
    font-size: 25px;
    font-weight: bold;
    line-height: normal;
    padding: 1vw ;
    text-align: center;
    align-items: center;
  
  }



}

@media screen and (min-width: 768px) and (max-width: 1023px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  body {
    background: linear-gradient(180deg, #11699A 0%, #26064F 100%);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 30px;
  }
  
  .banner-button {
    width: 150px;
    background-color: rgba(51, 33, 158, 0.69);
    border-radius: 5px;
    color: #FFF;
    text-decoration: none;
    font-family: Molengo;
    font-size: 25px;
    font-weight: bold;
    line-height: normal;
    padding: 1vw;
    text-align: center;
    align-items: center;
    
  }
  
  .nav{
    flex-flow: row nowrap;
    display:flex ;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .banner-buttons-div a{
    text-align: center;
    transition: background-color 0.4s ease;
    font-weight: bold;
  
  }
  .banner-button:hover{
    background-color: rgb(118, 118, 205);
  }
  .banner-logo {
    width: 20vw;
    height: 10vh;       
    padding-right: 6vw;      
  }
  
  .banner-icon {
    width: 55px;
    height: 50px;
  }
  
  .banner-buttons-div {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .featured-movie-div {
    width: 100%;
    height: 60vh;
    opacity: 0.7;
    background: url(../assets/images/Square_Eyes_Cover5.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: screen;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  
  .featured-movie-description-div {
    width: 100vw;
    height: auto;
    font-size: 24px;
    font-style: oblique;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
  }
  
  .featured-movie-p {
   width: auto;
   object-fit: cover;
   color: yellow;
   font-size: 36px;
   font-family: Crimson Text;
   font-weight: 700;
   letter-spacing: 1.08px;
   word-wrap: break-word;
   position: relative;
  
  }
  
  .featured-movie-button {
    width: 30%;
    height: auto;
    object-fit: cover;
    opacity: 0.9;
    background-color: #ea644a;
    border:none;
    border-radius: 35px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 28px;
    font-weight: 1vw;
    padding: 1rem ;
    opacity: 1.2;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  .featured-movie-button:hover {
    background-color: #E38210;
  
  }
  
  .movie-section {
   width : 100%;    
   height: 40% ;
   display:flex ;
   justify-content: space-between ;
   align-items: center;
  }
  
  .movie-section h1{
    padding: 2rem;
    color: #FFF;
  }
  
  .carousel-container {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: carouselanimation 20s infinite linear; 
  }
  
  @keyframes carouselAmination {
    0% {transform: translateX(0); }
    100% {transform: translateX(-100%); }
  }
  
  
  .carousel {
    width: 100%;
    height: 37vh;
    display: flex;
    gap: 9px;
    overflow:scroll;
    white-space: nowrop; /*prevent slides from wrapping to the nextline*/
  }
  
  .carousel-slide {
    height: 37vh;
    object-fit: cover;
    display: flex;
    flex-direction: row; 
    width: 11%; /* 10%each slide has a widht of 10% of the carousel widht */
    
  }
  
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .img-poster {
    border-radius: 15px;
    padding: 5px;
  }
  
  .footer {
    background-color: none;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer img {
    width: auto;
    height: 7vh;
    object-fit: contain;
    margin-bottom: 20px;
  }
  
  .footer-text {
   
    color: white;
    font-size: 24px;
    font-family: Crimson Text,sans-serif;
    font-weight: 400;
    text-transform:capitalize;
    word-wrap: break-word;
  }
  
  /* contact us page */
  
  .contact-section{
    display: flexbox;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 90%;
    margin:auto;
  
  }
  
  
  
  .contact-article h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flexbox;
    color: white;
    padding: 2vw;
  }
  
  /*about us page*/
  
  .featured-site-h{
    font-family: Crimson Text;
    font-size: 26px;
    font-style: italic;
    font-weight: 700%;
    line-height: normal;
    letter-spacing: 1.08px;
    color: white;
    text-align: left;
    justify-content: center;
    display: flex;
    padding: 2vw;
  }
  
  .featured-site-p {
    font-family: source serif Pro;
    font-size: 25px;
    color: black;
    font-size: 30px;
    line-height:normal;
    align-items: center;
    text-align: center;
    line-height:2;
    margin: 4vw;
  }
  
  
  .body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #04aa6d ;
    color:white;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 20px;
  
  }
  
  .input[type=text], select,
   textarea{
    width: 70%;
    padding: 10px;
    font-size: 40px;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    resize: vertical;
    background-color: white;
  }
  
  input:focus-within{
    outline: none;
    border-color: #4604aa;
    border-width: 3px;
  }
  
  button{
    background-color: rgba(51, 33, 158, 0.69);
    border-radius: 18px;
    border-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
  
  }
  button:hover {
    opacity: 80%;
    cursor: pointer;
  }
  
  
  .input[type=submit]{
    background-color: #04aa6d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  .input[type=submit]:hover{
    background-color: #0F2029;
  }
  .contact-form {
    border-radius: 5px;
    background-color: #0F2029 ;
    padding: 50px;
    box-shadow: #0F2029;
    width: 80%;
    margin-top: 10px;
    overflow: hidden;
  
  }
  
  form{
    display: grid;
    gap: 20px;
  }
  
  label {
    color: white;
    text-transform: uppercase;
    text-align: left;
  }
  
  /*product preview page */
  
  .selected-movie {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  
  .selected-movie-details {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding-bottom: 5rem;
  }
  
  .selected-movie-img {
    width: 100%;
  }
  
  .selected-movie h1,
  .selected-movie h2{
    font-size: 20px;
    display: flex;
    align-items: normal;
    line-height: 2rem;
  }
  .banner-button{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: auto;
    cursor: pointer;
    transition: background-color 0.5s ease
  }
  
  .banner-button:hover{
    background-color: rgb(118, 118, 205);
  
  }
  
  .selected-movie-p {
    padding: 20px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    align-items: center;
    display: flex;
    text-align: justify;
  
  }
  
  .checkout-success-div {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding-bottom: 50px;
    background-color: #0F2029;
  }
  
  /* checkout page*/
  
  .container{
  
    border-radius: 5px;
    background-color: #0F2029 ;
    padding: 50px;
    box-shadow: #0F2029;
    width: 80%;
    margin: 2rem;
    margin-top: 10px;
    overflow: hidden;
    align-items: center;
    display: flexbox;
    
  }
  .title{
    color: #11699A;
    padding: 1rem;
  }
  .inputbox{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 3vw;
    border: 1px solid;
    border-radius: 1vw;
    margin: 1rem;
  
  }
  
  .inputbox input[type="text"]{
    margin-bottom: 2rem ;
  }
  img{
    width:30px;
    height: 30px;
    margin: 1vw;
    
  }
  
  .banner-nav{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .banner-button-c{
    width:fit-content;
    background-color: rgba(51, 33, 158, 0.69);
    border-radius: 5px;
    margin: auto;
    color: #FFF;
    text-decoration: none;
    font-family: Molengo;
    font-size: 25px;
    font-weight: bold;
    line-height: normal;
    padding: 1vw ;
    text-align: center;
    align-items: center;
  
  }

  .socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
  font-size: 2em;
  color: #898121E5;
  opacity: 0.9;
}
/* hover effect on social media Icons*/
.socialIcons a:hover{
  background-color: #898121E5;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}


